# Read Data From Json

In [3]:
import json

In [9]:
fd=open('record.json','r')
read=fd.read()
fd.close()

In [10]:
records=json.loads(read)

In [11]:
records

{'12661': {'name': 'Choco Cake', 'pr': 100, 'qn': 14, 'Exp-Date': '3/9/21'},
 '12662': {'name': 'Milk Cake', 'pr': 800, 'qn': 50, 'Exp-Date': '13/10/21'},
 '12663': {'name': 'Drink', 'pr': 85, 'qn': 80, 'Exp-Date': '13/8/21'},
 '12664': {'name': 'Candy', 'pr': 5, 'qn': 1000, 'Exp-Date': '23/9/21'},
 '12665': {'name': 'Pen', 'pr': 20, 'qn': 95},
 '12666': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '12667': {'name': 'Mic', 'pr': 1500, 'qn': 5, 'Exp-Date': '13/7/21'},
 '12670': {'name': 'Dairy Milk', 'pr': 50, 'qn': 35, 'Exp-Date': '30/8/21'},
 '12671': {'name': '5-Star', 'pr': 5, 'qn': 40, 'Exp-Date': '13/10/21'},
 '12672': {'name': 'Kit-kat', 'pr': 25, 'qn': 40, 'Exp-Date': '3/10/21'},
 '12673': {'name': 'Pencil', 'pr': 5, 'qn': 50},
 '12674': {'name': 'Notebook', 'pr': 50, 'qn': 400},
 '12675': {'name': 'Book', 'pr': 100, 'qn': 40},
 '12676': {'name': 'Laptop', 'pr': 35000, 'qn': 10},
 '12677': {'name': 'Oreo Biscuit', 'pr': 100, 'qn': 25, 'Exp-Date': '9/10/21'},
 '12678': {'name': 'Parle-G', 'pr': 20, 'qn': 20, 'Exp-Date': '3/11/21'},
 '12679': {'name': 'Monaco', 'pr': 50, 'qn': 40, 'Exp-Date': '5/9/21'},
 '12680': {'name': 'BAG', 'pr': 70, 'qn': 30},
 '12681': {'name': 'Shoes', 'pr': 10, 'qn': 40},
 '12682': {'name': 'Ring', 'pr': 700, 'qn': 25},
 '12683': {'name': 'Ball', 'pr': 50, 'qn': 60},
 '12684': {'name': 'Football', 'pr': 90, 'qn': 80},
 '12685': {'name': 'Ghee', 'pr': 150, 'qn': 10, 'Exp-Date': '6/11/21'},
 '12668': {'name': 'Coco Powder', 'pr': 70, 'qn': 5},
 '12669': {'name': 'Cheese', 'pr': 210, 'qn': 25},
 '12686': {'name': 'Panner', 'pr': 200, 'qn': 20}}

# program to add new item in the json file

In [15]:
prod_id = str(input("Enter product id:"))
name = str(input("Enter name:"))
pr = int(input("Enter price:"))
qn = int(input("Enter quantity:"))
a=0
for i in records.keys():
   if (prod_id==i):
       b=records[i]['qn']+qn
       records[prod_id]={'name':name,'pr':pr,'qn':b}
       a+=1
       
if a==0:
    records[prod_id]={'name':name,'pr':pr,'qn':qn}
js = json.dumps(records)

fd = open("records.json",'w')
fd.write(js)
fd.close()

Enter product id:12
Enter name:roshan
Enter price:23
Enter quantity:45

In [25]:
records

{'12661': {'name': 'Choco Cake', 'pr': 100, 'qn': 14, 'Exp-Date': '3/9/21'},
 '12662': {'name': 'Milk Cake', 'pr': 800, 'qn': 50, 'Exp-Date': '13/10/21'},
 '12663': {'name': 'Drink', 'pr': 85, 'qn': 80, 'Exp-Date': '13/8/21'},
 '12664': {'name': 'Candy', 'pr': 5, 'qn': 1000, 'Exp-Date': '23/9/21'},
 '12665': {'name': 'Pen', 'pr': 20, 'qn': 95},
 '12666': {'name': 'Phone', 'pr': 50000, 'qn': 9},
 '12667': {'name': 'Mic', 'pr': 1500, 'qn': 5, 'Exp-Date': '13/7/21'},
 '12670': {'name': 'Dairy Milk', 'pr': 50, 'qn': 35, 'Exp-Date': '30/8/21'},
 '12671': {'name': '5-Star', 'pr': 5, 'qn': 40, 'Exp-Date': '13/10/21'},
 '12672': {'name': 'Kit-kat', 'pr': 25, 'qn': 40, 'Exp-Date': '3/10/21'},
 '12673': {'name': 'Pencil', 'pr': 5, 'qn': 50},
 '12674': {'name': 'Notebook', 'pr': 50, 'qn': 400},
 '12675': {'name': 'Book', 'pr': 100, 'qn': 40},
 '12676': {'name': 'Laptop', 'pr': 35000, 'qn': 10},
 '12677': {'name': 'Oreo Biscuit', 'pr': 100, 'qn': 25, 'Exp-Date': '9/10/21'},
 '12678': {'name': 'Parle-G', 'pr': 20, 'qn': 20, 'Exp-Date': '3/11/21'},
 '12679': {'name': 'Monaco', 'pr': 50, 'qn': 40, 'Exp-Date': '5/9/21'},
 '12680': {'name': 'BAG', 'pr': 70, 'qn': 30},
 '12681': {'name': 'Shoes', 'pr': 10, 'qn': 40},
 '12682': {'name': 'Ring', 'pr': 700, 'qn': 25},
 '12683': {'name': 'Ball', 'pr': 50, 'qn': 60},
 '12684': {'name': 'Football', 'pr': 90, 'qn': 80},
 '12685': {'name': 'Ghee', 'pr': 150, 'qn': 10, 'Exp-Date': '6/11/21'},
 '12668': {'name': 'Coco Powder', 'pr': 70, 'qn': 5},
 '12669': {'name': 'Cheese', 'pr': 210, 'qn': 25},
 '12686': {'name': 'Panner', 'pr': 200, 'qn': 20},
 '12': {'name': 'roshan', 'pr': 23, 'qn': 47}}

# program to purchase product

In [26]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

c=0
for i in record.keys():
   if (ui_prod==i and record[i]['qn']!=0):
       print("Product: ", record[i]['name'])
       print("Price: ", record[i]['pr'])
       print("Billing Amount: ", record[i]['pr'] * ui_quant)
       record[i]['qn'] = record[i]['qn'] - ui_quant
       c+=1
if c==0:
    print('Sorry!, This product is not available')

Enter the product_Id: 12661
Enter the quantity: 5
Product:  Choco Cake
Price:  100
Billing Amount:  500

# program to  Update Inventery After Purchse

In [27]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

# Sales file in Json

In [31]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}

{'prod': '12661', 'qn': 5, 'amount': 500}

In [41]:
fd=open('sales.json','r')
read=fd.read()
fd.close()

In [ ]:

if c==0:
    sales={'1':{'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}}
    c+=1
else:
    sales[len(sale)+1]={'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}

In [ ]:
sales=json.dumps(sale)